@import 'index';

.btn {
  width: fit-content;
  background-color: $color-primary;
  color: #fff;
  border: none;
  padding: .9rem 1rem;
  cursor: pointer;
  margin: 1rem .4rem;
  transition: all .5s;

  &--action {
    border-radius: 3rem;
   background-color: #282c34;
  }

  &:hover {
    background-color: $color-secondary;
  }
}

label {
  font-size: 1.1rem;
}

input {
  padding: .5rem;
  margin: .5rem;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.userCard {
  box-sizing: border-box;
 // width: 30rem;
  height: 10rem;
  flex-flow: wrap;
  overflow: hidden;
  margin: 1rem;
  background-color: $color-yellow;
  font-size: 1.5rem;

  &Container{
    display: grid;
    align-content: center;
  //  width: 30rem;
    height: 10rem;

  }

  &Option{
    align-content: center;
    justify-content: center;
    height: 10rem;
    background-color: $color-secondary;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
